<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Add new user</title>
</head>
<body>
<h3>Add new user</h3>

<form action="#" th:action="@{/add}" method="POST">
    <table border="1" cellspacing="0" cellpadding="2">
        <tr>
            <td>Name</td>
            <td><input type="text" id="name" name="name"/></td>
        </tr>
        <tr>
            <td>Email</td>
            <td><input type="text" id="email" name="email"/></td>
        </tr>
        <tr>
            <td>Password</td>
            <td>
                <input type="text" id="password" name="password"/></td>
        </tr>
        <tr>
            <td>Role</td>
            <td>
                <th:block th:each="role : ${roles}">
                    <label class="checkbox"><input type="checkbox" th:value="${role}" name="roles">
                        <th:block><span th:text="${role}"></span></th:block>
                    </label>
                </th:block>
            </td>
        </tr>
    </table>
    <button type="submit">Create user</button>
</form>
<a th:href="@{/logout}">Logout</a>
</body>
</html>